body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  width: 100%;
  height: 100%;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*
INSTALL APP BUTTON*/
#btnAdd {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  border-radius: 30px;
}

/*
USER PROFILE PAGE STYLING
*/
.user-props-container {
  padding: 0.25em 0.25em 0.25em 0.25em;
  background-color: silver;
  border-style: solid;
  border-color: red green blue yellow;
  box-shadow: 0px 0px 15px midnightblue;
}

.user-page {
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.user-page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.user-props-text {
  padding: 0em 0em 0em 0em;
}

/*
SINGLE EVENT PAGE STYLING
*/

.single-event-page-container {
  padding: 1em;
}

.event-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.event-info-left {
  width: 40%;
  padding-right: 1em;
  margin: auto;
}

.event-banner {
  width: 100%;
}

.event-info-right {
  width: 40%;
  padding-left: 1em;
}

.rsvp-button {
  width: 90%;
  justify-self: center;
  margin: auto;
}

#rsvp-button-container {
  display: flex;
  margin: 1em auto;
  justify-content: center;
  align-items: center;
}

#rsvp-button-alt {
  width: 90%;
  justify-self: center;
  margin: auto;
}

/* #google_map {
  margin: auto;
} */

@media (max-width: 500px) {
  .outermost-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-event-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
  }

  .event-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
  }

  .event-info-left {
    width: 90%;
    /* justify-content: center;
    justify-self: center;
    align-items: center;
    padding: auto;
    margin: auto; */
    display: flex;
    flex-direction: column;
  }

  .event-banner {
    width: 90%;
    justify-self: center;
    margin: auto;
  }

  .event-description {
    width: 90%;
    justify-self: center;
    margin: 1em auto;
  }

  .event-info-right {
    width: 90%;
    /* justify-content: center;
    justify-self: center;
    align-items: center;
    padding: auto;
    margin: auto; */
    display: flex;
    flex-direction: column;
  }

  .rsvp-button {
    width: 90%;
    margin: 1em auto;
    align-self: center;
  }

  .event-location {
    display: flex;
    margin: 0.5em auto;
    flex-direction: column;
  }

  #scpipt-loader {
    display: flex;
  }

  #google-map {
    margin: auto;
    width: 100%;
  }

  #event-title {
    margin: 0.5em auto;
  }

  #rsvp-button-container {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
  }

  #rsvp-button-alt {
    width: 90%;
    margin: 1em auto;
    align-self: center;
  }
}

.jumbotron-text {
  color: black;
  font-size: 500%;
  text-shadow: 3px 3px #b0fc38;
}

.jumbotron-tagline {
  color: lime;
}

.undercover {
  color: black;
  opacity: 1;
}

.jumbotron-cover-image {
  position: relative;
  opacity: 0.75;
  background: #000000
    url('https://www.democracynow.org/images/story/13/34813/full_hd/S_DCWomensMarchPackedStreet.jpg')
    center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #ffffff;
}
